@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap");
* { font-family: "Montserrat"; }

.container { max-width: 1113px; margin: 0 auto; }

.lock { overflow: hidden; }

@media screen and (max-width: 960px) { .icon-menu { display: block; position: absolute; top: 40px; right: 23px; width: 30px; height: 18px; cursor: pointer; z-index: 5; }
  .icon-menu span { transition: 0.3s; top: 8px; left: 0; position: absolute; width: 100%; height: 2px; background-color: #fff; }
  .icon-menu span:first-child { top: 0px; }
  .icon-menu span:last-child { top: auto; bottom: 0px; }
  .icon-menu.active span { transform: scale(0); }
  .icon-menu.active span:first-child { transform: rotate(-45deg); top: 8px; }
  .icon-menu.active span:last-child { transform: rotate(45deg); bottom: 8px; } }

.header { position: relative; }
.header__border { opacity: 0.5; border: 1px solid #a1a1a1; position: absolute; top: 100px; width: 100%; right: 0; }
@media screen and (max-width: 960px) { .header__border { display: none; } }
.header__body { min-height: 100vh; background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/banner.png"); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
.header__title { font-weight: 500; font-size: 16px; line-height: 20px; margin: 0; padding: 0; color: #ffffff; }
.header__info { font-weight: 800; font-size: 48px; line-height: 64px; max-width: 889px; color: #ffffff; margin-top: 20px; margin-bottom: 50px; padding: 0 10px; }
@media screen and (max-width: 386px) { .header__info { font-size: 23px; line-height: 33px; } }
.header__button { font-weight: 500; font-size: 16px; line-height: 20px; }

.menu.active { visibility: visible; margin-top: 0; opacity: 0.9; }

.menu { position: absolute; top: 0; left: 0; right: 0; height: 100px; width: 100%; display: flex; align-items: center; justify-content: flex-end; }
@media screen and (max-width: 960px) { .menu { visibility: hidden; position: absolute; width: 100%; left: 0; background-color: #323232; justify-content: center; height: 100%; transition: 0.3s; margin-top: -500px; opacity: 0; } }
.menu__list { display: flex; list-style: none; }
@media screen and (max-width: 960px) { .menu__list { flex-direction: column; align-items: center; padding-top: 30px; } }
.menu__item { margin-right: 40px; }
@media screen and (max-width: 960px) { .menu__item { padding-bottom: 35px; } }
.menu__link { font-weight: 500; font-size: 16px; line-height: 20px; color: #ffffff; text-decoration: none; position: relative; }
@media screen and (max-width: 960px) { .menu__link { font-size: 23px; } }
.menu__link:hover:before { position: absolute; content: ""; border: 2px solid #fff; width: 100%; top: 56px; }

.buttons { background: #4985ff; box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); border-radius: 30px; padding: 13px 36px; border: none; outline: none; color: #ffffff; }

.sec1 { padding-top: 110px; padding-bottom: 105px; }
.sec1__title { font-weight: bold; font-size: 36px; line-height: 53px; text-align: center; color: #323232; max-width: 739px; }
@media screen and (max-width: 386px) { .sec1__title { font-size: 23px; line-height: 33px; } }
.sec1__elements { display: flex; flex-direction: column; align-items: center; }
.sec1__text { font-size: 16px; line-height: 25px; text-align: center; color: #999999; padding-bottom: 116px; max-width: 730px; }
.sec1__rows { display: flex; padding-bottom: 55px; flex-wrap: wrap; }
@media screen and (max-width: 979px) { .sec1__rows { justify-content: center; } }
@media screen and (max-width: 743px) { .sec1__rows { flex-direction: column; } }
.sec1__row { display: flex; padding-right: 31px; padding-left: 31px; padding-bottom: 33px; flex: 0 1 27%; }
@media screen and (max-width: 743px) { .sec1__row { padding-bottom: 50px; } }
.sec1__row-img { position: relative; padding-right: 50px; }
.sec1__row-img::before { position: absolute; content: ""; width: 90px; height: 90px; border: 1px solid #4985ff; border-radius: 50%; top: -22px; left: -22px; }
.sec1__row-img::after { position: absolute; content: ""; width: 110px; height: 110px; border: 1px solid #e0e0e0; border-radius: 50%; top: -32px; left: -32px; }
.sec1__row-title { font-weight: 600; font-size: 18px; line-height: 22px; }
.sec1__row-text { font-size: 14px; line-height: 22px; max-width: 222px; color: #999999; }
.sec1__button { display: block; margin: 0 auto; }

.sec2 { background: #f6f6f8; padding-top: 100px; padding-bottom: 70px; }
.sec2__blocks { display: flex; justify-content: space-between; align-items: center; }
@media screen and (max-width: 960px) { .sec2__blocks { flex-direction: column; text-align: center; } }
.sec2__info { flex: 0 1 489px; }
.sec2__info-title { font-weight: bold; font-size: 36px; line-height: 53px; }
@media screen and (max-width: 386px) { .sec2__info-title { font-size: 23px; line-height: 33px; } }
.sec2__info-text { font-size: 16px; line-height: 25px; color: #999999; }
.sec2__info-about, .sec3__row-about { font-weight: 500; font-size: 16px; line-height: 20px; color: #4985ff; }
.sec2__images img { max-width: 100%; }
.sec2__stroke { display: block; border: 1px solid #e0e0e0; margin-top: 90px; margin-bottom: 70px; }
.sec2__blocks2 { display: flex; justify-content: space-between; padding-left: 100px; padding-right: 100px; }
@media screen and (max-width: 758px) { .sec2__blocks2 { flex-direction: column; align-items: center; } }
.sec2__item { display: flex; align-items: center; justify-content: space-between; max-width: 104px; }
.sec2__block2-title { font-size: 36px; line-height: 53px; color: #000000; }
.sec2__block2-about { font-size: 16px; line-height: 25px; color: #999999; }

.sec3 { position: relative; }
.sec3:before { content: ""; position: absolute; background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4; top: 0; left: 0; width: 100%; height: 490px; z-index: -1; }
.sec3__items { padding-top: 75px; padding-bottom: 85px; }
.sec3__border { display: block; border: 1px solid #e0e0e0; }
.sec3__info { display: flex; align-items: center; justify-content: space-between; }
@media screen and (max-width: 902px) { .sec3__info { flex-direction: column; text-align: center; } }
.sec3__info-title { max-width: 540px; font-weight: bold; font-size: 36px; line-height: 53px; color: #ffffff; }
@media screen and (max-width: 386px) { .sec3__info-title { font-size: 23px; line-height: 33px; } }
.sec3__rows { display: flex; padding-top: 65px; padding-bottom: 85px; flex-wrap: wrap; }
@media screen and (max-width: 902px) { .sec3__rows { justify-content: center; } }
.sec3__row { max-width: 350px; flex: 1 1 30%; padding-right: 15px; padding-left: 15px; padding-bottom: 10px; }
.sec3__row-img { padding-bottom: 30px; }
.sec3__row-img img { max-width: 100%; }
.sec3__row-title { font-weight: 600; font-size: 18px; line-height: 22px; }
.sec3__row-title span { color: #4985ff; }
.sec3__row-subtitle { font-size: 16px; line-height: 25px; color: #999999; padding: 30px 0; }

.sec4 { background: #f6f6f8; padding-top: 100px; padding-bottom: 130px; }
.sec4__title { font-size: 36px; line-height: 53px; text-align: center; color: #000000; padding-bottom: 15px; }
.sec4__text { font-size: 16px; line-height: 25px; text-align: center; color: #999999; max-width: 730px; padding-bottom: 55px; }
.sec4__rows { display: flex; padding-bottom: 50px; flex-wrap: wrap; align-items: center; }
.sec4__items { display: flex; flex-direction: column; align-items: center; }
.sec4__row { padding-left: 15px; padding-right: 15px; padding-bottom: 10px; height: 255px; flex: 1 1 248px; }
.sec4__row img { width: 100%; height: 100%; object-fit: cover; border-radius: 10px; }

.sec5 { padding-bottom: 85px; }
.sec5__header { background: url("../images/banner.png"); background-repeat: no-repeat; background-position: top; background-size: cover; height: 570px; padding-top: 50px; }
.sec5__header-title { font-weight: bold; font-size: 36px; line-height: 53px; text-align: center; color: #ffffff; }
.sec5__header-subtitle { font-size: 16px; line-height: 25px; text-align: center; color: #ffffff; }
.sec5__stroke { display: block; border: 1px solid #e0e0e0; }
.sec5__spam { padding-top: 85px; margin: 0 auto; max-width: 730px; display: flex; flex-direction: column; align-items: center; }
.sec5__spam-title { padding-bottom: 20px; font-weight: 600; font-size: 18px; line-height: 22px; text-align: center; color: #000000; }
.sec5__spam-subtitle { font-size: 16px; line-height: 25px; text-align: center; color: #999999; }
.sec5__spam-button { display: flex; padding-top: 30px; padding-bottom: 35px; }
@media screen and (max-width: 495px) { .sec5__spam-button { flex-direction: column; align-items: center; } }
.sec5__spam-email { background: #ffffff; border: 1px solid #f2f2f2; outline: none; box-sizing: border-box; box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); height: 45px; width: 300px; border-radius: 30px 0px 0px 30px; padding-left: 25px; }
@media screen and (max-width: 495px) { .sec5__spam-email { margin-bottom: 20px; width: 220px; border-radius: 30px 30px 30px 30px; } }
.sec5__spam-btn { border-left: none; outline: none; background: #4985ff; box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); border-radius: 0px 30px 30px 0px; height: 45px; width: 190px; font-weight: 500; font-size: 16px; line-height: 20px; text-align: center; color: #ffffff; border: none; cursor: pointer; }
@media screen and (max-width: 495px) { .sec5__spam-btn { width: 220px; border-radius: 30px 30px 30px 30px; } }
.sec5__spam-info { font-size: 13px; line-height: 21px; text-align: center; color: #999999; }

.banner { display: flex; align-items: center; justify-content: center; max-width: 970px; min-height: 430px; background: url("../images/banner2.svg"); background-position: center; background-repeat: no-repeat; background-size: cover; margin: 0 auto; margin-top: -350px; margin-bottom: 85px; }
.banner__btn { display: flex; align-items: center; border: 1px solid #ffffff; box-sizing: border-box; border-radius: 200px; padding: 20px 40px; cursor: pointer; }
.banner__btn:hover { background-color: #524c4c; opacity: 0.6; border: none; }
.banner__btn-watch { padding-right: 21px; }
.banner__btn-title { font-weight: 500; font-size: 16px; line-height: 25px; color: #ffffff; }

/*# sourceMappingURL=style.css.map */
